
   .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
  }
  .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  
  
  .footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  margin: 5px;
  }
  .footer-center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .mg-srci{
    height: 100px;
    width: 80px;
  margin: 5px 5px;
  border-radius: 10px;
  }
  .mg-srci-2{
    height: 35px;
    width: 35px;
    
  }
  .mg-srci-3{
    height: 32px;
    width: 27px;
    border-radius: 20%;
    margin-left: 4px;
  }
  .footer-left img{
    height: 65px;
    width: 65px;
    margin-top: 10px;
  }
  .footer-bottom{
    text-align: center;
    background-color: black;
    color: azure;
    width: 100%;
  }