/* Style for the table */
.table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
  }
  
  .container2001{
    float: right;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 8px;   
  }

  .container2001 input{
    border-radius: 8px;
  }
  .table2001 {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table header */
  .table2001 th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: left;
    font-size: 10px;
  }
  
  /* Style for table body */
  .table2001 td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 9px;
  }
  
  /* Alternate row background color */
  .table2001 tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  .table2001 tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  /* .table-container2001 {
    position: relative;
} */

.popup-overlay2001 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    z-index: 999;
}

.popup2001 {
    background-color: #2f2e2e;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.popup2001 h2 {
    margin-bottom: 10px;
}

.popup2001 p {
    margin-bottom: 20px;
}

.popup2001 button {
    padding: 8px 16px;
    background-color: rgb(131, 7, 7);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup2001 button:hover {
    background-color: rgb(188, 14, 14);
}
